<configuration>
   <system.webServer>
   <rewrite>
  <rules>
    <rule name="httpsredirect" stopProcessing="true">
      <match url="(.*)" />
      <conditions>
        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
    </rule>
	<!--<rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^gomail.com.tr$" />
          </conditions>
          <action type="Redirect" url="https://www.gomail.com.tr/{R:0}"
               redirectType="Permanent" />
	</rule>-->
  </rules>
</rewrite>
   </system.webServer>
</configuration>
