@charset "utf-8";
/* CSS Document */

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
}

/* header */
header {
    height: 80px;
}
.logo {
    height: 80px;
}
.navMenu {
    display: block;
}
header .webmenu {
    display: none;
}
header .right {
    display: none;
}
.nav-menu {
    display: none;
}
.cd-nav-trigger {
    top: 14px;
}

/* banner */
.banner {
    margin: 80px 0 0;
    height: 500px;
}
.banner-left {
    display: table;
    height: 500px;
}
.banner-right {
    display: table;
    height: 500px;
}
.typing-text h2 {
    font-size: 48px;
    line-height: 58px;
}
.cd-headline {
    font-size: 48px;
    line-height: 58px;
}

/* basliklar */
.basliklar {
    margin: 80px 0;
}
.main-title {
    margin: 0 0 50px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

/* ozellikler */
.ozellik-list {
    padding: 0;
}
.ozellik-list-title {
    margin: 0 0 30px;
}
.ozellik-list .ozellik-list-item {
    margin: 0 0 10px;
}
.ozellikler-bg {
    display: none;
}

/* cozmler */
.cozumler {
    margin: 50px 0;
}
.cozumler-bg {
    display: none;
}
.cozum-list {
    margin: 0 0 20px;
}
.cozum-list .col a {
    padding: 10px;
    margin: 0 0 10px;
}
.cozum-title .btn {
    margin: 10px 0 0;
    border-color: #eee;
}

/* newsletter */
.newsletter {
    padding: 20px 10px;
}

/* page */
.page-image {
    height: 180px;
}
.page-image .page-title {
    padding-top: 50px;
}
.page-box {
    padding: 10px 0;
}
.page-nav-menu {
    text-align: center;
    margin-bottom: 20px;
}
#neden {
    background: #f8f8f8;
    padding: 20px 0;
    margin: 20px 0;
}
#politikalar {
    float: left;
    width: 100%;
    margin: 20px 0;
}
.ozellik-list.ozellik-list-page {
    padding: 10px 0 0;
}
.ozellik-list-title h1 {
    font-size: 28px;
    line-height: 38px;
    color: #3c3c3c;
    margin: 10px 0 0;
}
.ozellik-list.ozellik-list-page .ozellik-list-title {
    margin: 0 0 20px;
}
#servisler {
    float: left;
    width: 100%;
    margin: 10px 0;
    min-height: 360px;
}
.page-box-title {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.yardim {
    margin-top: 20px;
}
.yardim .yardimItem {
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#cozumler {
    float: left;
    width: 100%;
    margin: 0 0 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #eee;
}

/* blog */
.blog {
    margin-top: 10px;
}
.blog .blogItem {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.blog .blogItem h1 {
    font-size: 16px;
    font-weight: 700;
    color: #3c3c3c;
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
    margin-bottom: 10px;
}
.blog .blogItem a {
    margin: 0;
}

/* dogrulama */
.dogrulama {
    padding: 10px;
}

/* fiyatlar */
.fiyatlar-page {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.fiyat-sol {
    margin: 10px 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    position: relative;
}
.fiyat-sag {
    margin: 10px 0 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    height: 400px;
}
